{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Insert website logo -->
                <!--          <img src="images/company-logo.jpg" alt="Website Logo">-->
                <!-- Display visitor count -->
                <p></p>
                <!-- Display time zone -->
                <p></p>
            </div>
            <div class="col-md-4">
                <!--          <p>Time Zone: --><!--</p>-->
            </div>
            <!--        <div class="col-md-4">-->
            <!--          <div class="footer-links">-->
            <!---->
            <!--         <p>follow us on</p>-->
            <!--          </div>-->
            <!--          <div class="social-icons">-->
            <!--            <a href="#"><i class="fab fa-facebook-f facebook"></i></a>-->
            <!--            <a href="#"><i class="fa-brands fa-x-twitter twitter"></i></a>-->
            <!--            <a href="#"><i class="fab fa-instagram instagram"></i></a>-->
            <!--            <a href="#"><i class="fab fa-linkedin-in linked-in"></i></a>-->
            <!--          </div>-->
            <!--        </div>-->
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <!--          <p>&copy; -->
                <!-- By <a href="https://www.github.com/ProjectsAndPrograms" target="_blank">ProjectsAndPrograms</a>. All rights reserved.</p>-->
            </div>
        </div>
    </div>
</footer>
