{% load static %}

<header>
            <div class="container">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/Asset 1@2x.png' %}" alt="Logo"/>
                    </a>
                    <a href="{% url 'index' %}">
                        <h3>RUBIKAMP</h3>
                    </a>
                </div>

                <div class="nav-container">

                    <div class="links">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About-us</a></li>
                            <li><a href="{% url 'login' %}" class="btn">Login</a></li>
                            <li><a href="{% url 'register' %}" class="btn">Register</a></li>
                        </ul>


                    </div>
                    <div class="bottom-area">
                        <div class="container">
                            <button class="toggle-btn">
                                <i class="far fa-moon"></i>
                                <i class="far fa-sun"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="overlay"></div>

                <div class="hamburger-menu">
                    <div class="bar"></div>
                </div>
            </div>
        </header>
